.btn {
    padding: 1em 1.5em;
    border-radius: 1.5em;
    border: 0;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--primary-button-next-background);
}

.btn_next {
    background-color: --primary-button-next-background;
}

.btn_prev {
    background-color: var(--primary-button-prev-background);
}