.wizard {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 30em;
  transform: translate(-50%, -50%);
  gap: 30px;
  width: 400px;
}


body {
  margin: 0;
}

.input-group:not(:last-child) {
  margin-bottom: 1em;
}

.label {
  display: block;
  margin-bottom: 0.75em;
  padding-left: 1.25em;
  font-size: 0.875em;
}

.input {
  width: 100%;
  padding: 1em;
  border-radius: 1.5em;
  border: 0.125em solid transparent;
  outline: 0;
  background-color: #f0f4fd;
  font-size: 1em;
}

.input::placeholder {
  color: #d8d8d8;
  opacity: 1;
}

.input:focus {
  border-color: #4a90e2;
}

.input-radio {
  display: none;
}

.label-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.label-radio__toggler {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border-radius: 50%;
  border: 0.125em solid #bbb;
  transition: border-color 0.3s ease;
}

.label-radio:hover .label-radio__toggler {
  border-color: #4a90e2;
}