.input-group:not(:last-child) {
  margin-bottom: 1em;
}

.label {
  display: block;
  margin-bottom: 0.75em;
  padding-left: 1.25em;
  font-size: 0.875em;
}

.input:focus {
  border-color: var(--primary-button-next-background);
}

.input-radio {
  display: none;
}

.label-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.label-radio__toggler {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border-radius: 50%;
  border: 0.125em solid var(--primary-button-prev-background);
  transition: border-color 0.3s ease;
}

.label-radio:hover .label-radio__toggler {
  border-color: var(--primary-button-next-background);
}